@{
    ViewData["Title"] = "CALCULO DE IGV DE UN PRODUCTO";
}

<h1 class="text-center mb-4">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        @model Producto
        <form asp-controller="Home" asp-action="Create" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="Nombre" required>
            <br>
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="Descripcion" required></textarea>
            <br>
            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="Precio" step="0.01" required>
            <br>
            <input type="submit" value="CALCULAR" style="center">
        </form>
        <h2>@ViewData["Message"]</h2>
        <br>
        <h1>@ViewData["ImpuestoCalculado"]</h1>
        <div>
            <a asp-action="Index">RESETEAR</a>
        </div>
    </div>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
    }

    form {
        max-width: 400px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    textarea,
    input[type="number"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin: 0 auto;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>